/params_luke.mat
/params_ross.mat
/shchf_LowRe_MaxDisplacement.m
/shchf_LowRe_MaxEff_and_Disp.m
/shchf_LowRe_MaxEfficiency.m
/shchf_circle_1p0.m
/shchf_circle_family_loose.m
/shchf_kinsnake_demo_circle.m
/shchf_params_luke.m
/shchf_params_ross.m
